<div class="container mt-5 ">
    <h1 class="text text-center">ADD MORE PHONE</h1>
    <form method="post" action="/mobiles" class=" mt-5">
  <div class="form-group">
    <label for="Brands" >Brands</label>
    <input type="text" name="brands" class="form-control" id="formGroupExampleInput" required>
  </div>
  <div class="form-group">
    <label for="Name">Name</label>
    <input type="text" class="form-control" name="name" id="formGroupExampleInput2" required>
  </div>
  <label for="">Colors</label>
<select class="form-control" name="colors" id=""required>
    <option value="Black">Black</option>
    <option value="Deep-Purple">Deep-Purple</option>
    <option value="Green">Green</option>
    <option value="Gold">Gold</option>
    <option value="Silver">Silver</option>
</select>
  <div class="form-group" >
    <label for="Price" >Price</label>
    <input type="number" name = "price" class="form-control" name="name" id="formGroupExampleInput2" required >
  </div>
   <div class="form-group" >
    <label for="Price" >Description</label>
    <textarea name="description" id="" cols="173" rows="10"></textarea>
  </div>
  <div class="form-group" >
    <label for="Image" >Image</label>
    <input type="url" name = "image" class="form-control" name="name" id="formGroupExampleInput2" required >
  </div>
 <div class="col text-center mt-5">
    <input class="btn btn-outline-success " type="submit" value="Add">
    <input class="btn btn-outline-success " type="reset" value="Clear">
 </div>
</form>
</div>